<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>mlrVST</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>com.mlrVST.plugin</string>
    <key>CFBundleName</key>
    <string>mlrVST</string>
    <key>CFBundleDisplayName</key>
    <string>mlrVST</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>2.0.0</string>
    <key>CFBundleVersion</key>
    <string>2.0.0</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>mlrVST: mlrVST</string>
        <key>description</key>
        <string>Modern mlr sample slicer with Monome support</string>
        <key>factoryFunction</key>
        <string>mlrVSTAUFactory</string>
        <key>manufacturer</key>
        <string>Mlrx</string>
        <key>type</key>
        <string>aumf</string>
        <key>subtype</key>
        <string>Mlrv</string>
        <key>version</key>
        <integer>131072</integer>
        <key>resourceUsage</key>
        <dict>
          <key>network.client</key>
          <true/>
          <key>temporary-exception.files.all.read-write</key>
          <true/>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
